.list-hover>*:hover {
    background-color: var(--gray-7);
    /* Replace with actual gray-7 color */
}

@media (prefers-color-scheme: dark) {
    .list-hover>*:hover {
        background-color: rgba(250, 250, 250, 0.02);
        /* Replace with actual dark mode gray-2 color */
    }
}

.list-hover>*:active {
    background-color: var(--gray-6);
    /* Replace with actual gray-6 color */
}

.list-hover>* {
    background-color: rgba(250, 250, 250, 0.1);
    /* Replace with actual gray-6 color */
    --un-shadow: var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)), var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .list-hover>*:active {
        background-color: var(--gray-3);
        /* Replace with actual dark mode gray-3 color */
    }
}

.list-hover>*:first-child {
    border-top-left-radius: 0.5rem;
    /* Adjust as needed */
    border-top-right-radius: 0.5rem;
    /* Adjust as needed */
    border-bottom-left-radius: 0;
    /* Reset bottom radius */
    border-bottom-right-radius: 0;
    /* Reset bottom radius */
}

.list-hover>*:last-child {
    border-bottom-left-radius: 0.5rem;
    /* Adjust as needed */
    border-bottom-right-radius: 0.5rem;
    /* Adjust as needed */
    border-top-left-radius: 0;
    /* Reset top radius */
    border-top-right-radius: 0;
    /* Reset top radius */
}